[submodule "cl-fuseki"]
	path = dependencies/cl-fuseki
	url = git@github.com:madnificent/cl-fuseki
[submodule "mu-cl-support"]
	path = dependencies/mu-cl-support
	url = git@github.com:mu-semtech/mu-cl-support
[submodule "dependencies/jsown"]
	path = dependencies/jsown
	url = git@github.com:madnificent/jsown
